@import 'reset.css';
@import 'deck.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
    font-family: 'Roboto', sans-serif;
    color: #222;
}

header h1{
    display: block;
    text-align: center;
    background: #222;
    color: #fff;
    padding: 20px;
    font-size: 24px;
}

.table{
    display: block;
    width: 100%;
    height: calc(100vh - 64px);
    background: #076324;
}